.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

.wrapper div {
    width: 300px;
    height: 100px;
}

.currentCurrency{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(154, 209, 24);
}

.wantedCurrency{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(197, 107, 22);
}

#h1{
    font-size: 50px;
}