.wrap{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: url(https://www.wallsauce.com/pdi/14896/767/0/0/large-football-stadium-lights.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.innerWrap{
    position: absolute;
    width: 84vw;
    height: 100vh;
    left: 200px;
    top: 0px;

    background: #000000;
    border-radius: 3px;
}   

.content{
    position: absolute;
    width: 69vw;
    height: 86.7vh;
    left: 200px;
    top: 170px;

    background: #E9E9E9;
}

.header{
    display: flex;
    position: relative;
    width: 69vw;
    border-color: green;
    justify-content: space-between;
    align-items: center;
    left: 200px;
   
}
button{
    font-size: 40px;
    padding: 50px;
    margin: 10px;
    border-style: none;
    background-color: black;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgb(48, 43, 43);
}

#list{
    display: block;
    width: 25%;
    float: left;
}